.navbar-couleur {
    background: #0D0E0F;
    background: linear-gradient(90deg,rgba(13, 14, 15, 1) 53%, rgba(58, 68, 69, 1) 71%);
    border: none;
}

#nav-link1 {
    color: #f6b21a;
}
.nav-link:hover {
    color: #f6b21a;
    transition: 0.3s;
}
#nav-link2:hover {
    color: #f6b21a;
    transition: 0.3s;
    cursor: pointer;
}


.contenu1 {
    height: 93vh;
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.carousel-indicators {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: start;
}

.image1:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
}
.btn0:hover {
    background-color: #0D0E0F;
    color: white;
    transition: 0.3s ease;
    transform: scale(1.1);
}

.map-responsive {
  position: relative;
  padding-bottom: 56.25%; /* ratio 16/9 */
  height: 0;
  overflow: hidden;
}

.map-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


@media (max-width: 768px) {
    .carousel-innere {
        width: 100% !important;
    }

    .cont {
        text-align: center;
        gap: 2em;
        flex-direction: column;
    }
}
